.lead__title {
  font-weight: 700;
  color: white;
  margin: 0;
  text-align: center;
  align-self: center;
  max-width: 720px;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 1.04;
  }
}

@media (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }
}
