.place__paragraph {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 767px) {
  .place__paragraph {
    padding: 0 16px;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    gap: 26px;
  }
}
