.lead__subtitle {
  color: white;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 16px 0 40px 0;
  font-size: 16px;
  line-height: 1.25;
  max-width: 288px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
