.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 66px;
  min-height: 200px;
}

@media (min-width: 768px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-top: 92px;
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover {
    margin: 92px 48px 0 48px;
    max-width: 1184px;
    min-height: 740px;
  }
}
