.cover__overlay {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s linear;
  min-height: 200px;
}

@media (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__overlay {
    max-width: 1184px;
    min-height: 740px;
  }
}

